#schedule-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.schedule-logos {
    max-width: 20%;
}

#team-stats-table {
    max-width: 15%;
    border: 1px solid;
}

#team-stats-table>th,
td {
    border-bottom: 1px solid #ddd;
}

.players-to-watch {
    border-collapse: collapse;

}

.preview-table-stats-logos {
    max-height: 20%;
}

.players-to-watch-team-logos {
    max-width: 20%;
}

#home-roster-table {
    display: none;
}

/* #preview-container{
   display: flex;
   flex-direction: row;
} */

#recap-highlights {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    width: 66%;
}

.highlight-div {
    padding: 10px;
}

.pbp-pic {
    border-radius: 50%;
    max-height: auto;
    max-width: 20%;
}

.pbp-details {
    display: inline-block;
}

.pbp-events {
    list-style-type: none;
    padding: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 33%
}

.pbp-event-box {}

.pbp-type {
    border: solid 1px;
    width: fit-content;
    text-align: center;
}

#preview-container {
    display: flex;
    justify-content: space-between;
}

#preview-container>section {
    width: 100%;
}


#preview-left-col {
    width: 33%;
}

#team-stats-table {
    min-width: 50%;
}

#live-game-scoreboard {
    max-width: 25%;
}

#recap-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1000px) {

    #schedule-container {
        width: 100%;
    }

    #preview-container {
        display: contents
    }

    #team-stats-table {
        min-width: 100%;
        padding: 10xp 20px;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .roster-table {
        min-width: 100%;
    }

    #live-game-scoreboard {
        min-width: 100%
    }

    #recap-container {
        max-width: 100%;
        width: auto;
    }

    #recap-video {
        width: auto;
        max-width: 100%;
    }

    #recap-highlights {
        scrollbar-width: thick;
        border: 1px solid black;
        width: 100%;
    }

    #schedule-team-stats-container {
        min-width: 100%;
        overflow-x: scroll;
    }

    .post-game-skater-stats{
            overflow-x: scroll;
           
    }


}