table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    
}

#table-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: aqua;
    color: black;
  }

tr:nth-child(even) {
    background-color: #868282;
}

#division-row{
    text-align: left;
}


tr {
    color: white;
}
.logos{
    max-width: 33%;
    float: left;
}

@media screen and (max-width: 1000px){
.standings-table {
    width: auto;
    overflow-x: scroll;
}

.standings-table > th, td {
  text-align: left;
  padding: 8px;
}

}