#list-container {
    display: flex;
}

#main-info {
    text-align: center;
}
#stats-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.division-container {
    text-align: center;
    width: 25%;
}


#leaders-table{
    min-width: 20%;
    margin-left: 5%;
}
.table-pic {
    border-radius: 50%;
    max-width: 20%;
    margin-left: auto; 
margin-right: 0;
}


#profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    padding: 5%;
}

#profile-pic {
    border-radius: 50%;
}

#profile-card-info {
    text-align: center;
}

#roster-container{
    display: flex;
}

.bio-card-details {
    display: inline-block;
}

@media screen and (max-width: 1000px){
#stats-container{
    width: auto;
}
#roster-container{
    display: flex;
    flex-direction: column
}


}